html {
  overflow: hidden;
  font-family: 'Segoe UI';
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

/*body > * {
  flex: 0 0 auto;
}

body > div:nth-of-type(1) {
  flex: 1 1 auto;
  height: 100%;
}*/

.parent {
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  margin: 0 calc(50% - 150px) -100px;
  text-align: center;
  background-color: rgba(255, 128, 0, 0.75);
  font-size: 22px;
  transition: 0.3s;
  width: 300px;
  transition-timing-function: cubic-bezier(0.5, -0.3, 0.8, 0.5);
  //clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;
}

.parent > * {
  padding: 0.2rem;
}

.parent.visible {
  //clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition-timing-function: cubic-bezier(0.2, 0.5, 0.5, 1.3);
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  border-bottom: 3px solid white;
}

.parentP {
  position: fixed;
  right: 20px;
  top: 0px;
  transition: 0.5s;
  transform-origin: top;
  background-color: hsla(30, 100%, 50%, 0.75);
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid white;
  transition-timing-function: cubic-bezier(0.5, -0.3, 0.8, 0.5);
  margin-top: -300px;
}

.parentP.visible {
  transition-timing-function: cubic-bezier(0.2, 0.5, 0.5, 1.3);
  margin-top: 20px;
}

.parentP table {
  border-collapse: collapse;
  text-align: center;
}

.parentP thead tr {
  background-color: rgba(0, 0, 0, 0.2);
}

.parentP td,
.parentP th {
  padding: 2px 5px;
}

.parentP thead th:first-child {
  border: solid white;
  border-width: 0 1px 1px 0;
}

.parentP thead th:last-child {
  border: solid white;
  border-width: 0 0 1px 1px;
}

.parentP tbody tr:last-child td:first-child {
  border: solid white;
  border-width: 1px 1px 0 0;
}

.parentP tbody tr:last-child td:last-child {
  border: solid white;
  border-width: 1px 0 0 1px;
}

.parentP tbody tr:not(:last-child) td:first-child {
  border: solid white;
  border-width: 1px 1px 1px 0;
}

.parentP tbody tr:not(:last-child) td:last-child {
  border: solid white;
  border-width: 1px 0 1px 1px;
}

.bold {
  font-weight: bold;
}
