html {
  overflow: hidden;
  font-family: 'Segoe UI';
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

body > * {
  flex: 0 0 auto;
}

body > div:nth-of-type(1) {
  flex: 1 1 auto;
  height: 100%;
}

.parent {
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  margin: 0 calc(50% - 150px) -100px;
  text-align: center;
  background-color: rgba(255, 128, 0, 0.75);
  font-size: 22px;
  transition: 0.3s;
  width: 300px;
  transition-timing-function: cubic-bezier(0.5, -0.3, 0.8, 0.5);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  z-index: -1;
}

.parent > * {
  padding: 0.2rem;
}

.parent.visible {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition-timing-function: cubic-bezier(0.2, 0.5, 0.5, 1.3);
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  border-bottom: 3px solid white;
}

.parentP {
  height: 40px;
  overflow: hidden;
}

.parentP,
.parentP > * {
  transition: 0.7s;
}

.parentP:not(.visible) {
  margin-bottom: -40px;
}

.parentP.secondo > :first-child {
  margin-top: -40px;
}

.parentP > * {
  display: flex;
  background-color: rgba(255, 128, 0, 0.75);
  font-size: 22px;
  height: 40px;
}

.parentP > * > * {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
  border: solid white;
  border-width: 0 1px;
}

.bold {
  font-weight: bold;
}
