@charset "utf-8";

$footer-padding: 3rem 1.5rem;

@import '~bulma/bulma.sass';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotating 10s linear infinite;
}

.is-child {
  transition: 0.3s;
}

.modal-background {
  backdrop-filter: blur(2px);
  cursor: pointer;
}

input[type='range'] {
  transform: scale(1.5) translate(16.666%, 0);
  width: 66.666%;
}
